jupyter-book
numpy
scipy
matplotlib
pandas
pylance
ipympl
plotly
myst_nb
dataclasses
pybtex
labels
sphinxcontrib-bibtex
sphinx-exercise
jupyterquiz
docutils==0.17.1     # This specific version of Docutils is required to avoid the empty brackets showing up in the "Bibliography"
